In [1]:
import pandas as pd
import mysql.connector
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
conn = mysql.connector.connect(host = 'localhost',
                            username = 'root',
                            password = 'Asdf@1234',
                            database = 'vendor')
cur=conn.cursor()

In [3]:
# Fetch all tables
cur.execute("SHOW TABLES;")
tables = cur.fetchall()  # list of tuples

for table in tables:
    table_name = table[0]
    print('-'*50, f'{table_name}', '-'*50)
    
    # Count rows
    count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table_name}", conn)
    print('Count of records:', count_df['count'].values[0])
    
    # Preview first 5 rows
    preview_df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5", conn)
    display(preview_df)

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table_name}", conn)
C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  preview_df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5", conn)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table_name}", conn)

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  preview_df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5", conn)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchase_price --------------------------------------------------
Count of records: 12261

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table_name}", conn)
C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  preview_df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5", conn)

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- purchases --------------------------------------------------

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table_name}", conn)

Count of records: 2372474

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  preview_df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5", conn)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- sales --------------------------------------------------

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table_name}", conn)

Count of records: 12825363

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  preview_df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5", conn)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table_name}", conn)
C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  preview_df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5", conn)

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137484.00,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.20,429.20,None

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
Count of records: 0

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table_name}", conn)
C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3341450070.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  preview_df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5", conn)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, PurchasePrice, ActualPrice, Volume, TotalPurchaseQuantity, TotalPurchaseDollars, TotalSalesQuantity, TotalSalesDollars, TotalSalesPrice, TotalExciseTax, FreightCost, GrossProfit, ProfitMargin, StockTurnover, SalesToPurchaseRatio]
Index: []

## EDA (Exploratory Data Analysis)

In [4]:
from sqlalchemy import create_engine
import pandas as pd

# Replace with your own database credentials
username = "root"
password = "Asdf%401234"
host = "localhost"
database = "vendor"

# Create a SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")
conn = engine

In [5]:
sales = pd.read_sql("SELECT * FROM sales WHERE VendorNo = 4466",conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [6]:
purchase_price = pd.read_sql_query(" select * from purchase_price where VendorNumber = 4466",conn)

In [7]:
purchases = pd.read_sql_query(" select * from purchases where VendorNumber = 4466",conn)

In [8]:
purchases.groupby(["Brand","PurchasePrice"])[['Quantity','Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [9]:
purchase_price

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [10]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
3140       50531.10    30071.85           3890
5215       60416.49    41542.02           4651
5255       79187.04    51180.60           6096

â€¢The purchases table contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in dollars),
 and the quantity purchased.
â€¢The purchase price column is derived from the purchase prices table, which provides product-wise actual and purchase prices. The combination of vendor
 and brand is unique in this table.
â€¢The vendor_invoice table aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight.
 This table maintains uniqueness based on vendor and PO number.
â€¢ The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:
â€¢ purchase transactions made by vendors
â€¢ sales transaction data
â€¢ freight costs for each vendor
â€¢ actual product prices from vendors

In [11]:
vendor_invoice = pd.read_sql_query(" select * from vendor_invoice where VendorNumber = 4466",conn)

In [12]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [13]:
freight_summary = pd.read_sql_query("""select VendorNumber,sum(Freight) as FreightCost from vendor_invoice group by VendorNumber""",conn)
freight_summary

     VendorNumber   FreightCost
0             105     62.389999
1            4466    793.909996
2             388    211.740000
3             480  89286.269659
4             516   8510.410004
..            ...           ...
121        201359      0.090000
122          4901      0.720000
123         90059     74.839999
124          5083     10.680000
125            54      0.480000

[126 rows x 2 columns]

In [14]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [15]:
purchase_price.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [16]:
pd.read_sql_query("""SELECT 
  p.VendorNumber,
  p.VendorName,
  p.Brand,
  p.PurchasePrice,
  pp.Volume,
  pp.Price AS ActualPrice,
  SUM(p.Quantity) AS TotalPurchaseQuantity,
  SUM(p.Dollars) AS TotalPurchaseDollars
FROM purchases p
JOIN purchase_price pp 
  ON p.Brand = pp.Brand
WHERE p.PurchasePrice > 0
GROUP BY 
  p.VendorNumber,
  p.VendorName,
  p.Brand,
  p.PurchasePrice,
  pp.Volume,
  pp.Price
ORDER BY 
  TotalPurchaseDollars;

""", conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1.0,7.100000e-01
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1.0,1.470000e+00
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2.0,1.480000e+00
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6.0,2.340000e+00
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2.0,2.640000e+00
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109.0,3.023206e+06
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682.0,3.261198e+06
10689,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407.0,3.418304e+06
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038.0,3.804041e+06
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080.0,3.811252e+06

In [17]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [18]:
pd.read_sql_query("""select VendorNo,Brand,sum(SalesDollars) as TotalSalesDollars,sum(SalesPrice) as TotalSalesPrice, sum(SalesQuantity) as TotalSalesQuantity, sum(ExciseTax) as TotalExciseTax
from sales group by VendorNo,Brand""",conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,12546,1004,15708.969866,11365.459885,703.0,554.210012
1,12546,1005,32120.821011,19349.470928,918.0,359.969995
2,2000,10058,293349.457681,113447.028282,21018.0,2348.270000
3,12546,1006,1308.719998,323.190001,328.0,17.030000
4,10754,10062,18518.709618,11417.499714,2029.0,225.109999
...,...,...,...,...,...,...
11267,4425,27700,88.989998,88.989998,1.0,0.110000
11268,4425,27851,37.980000,37.980000,2.0,0.220000
11269,2000,27969,36.990002,36.990002,1.0,0.110000
11270,12331,263,35.980000,35.980000,2.0,1.580000
11271,3924,9123,1.980000,0.990000,2.0,0.100000

In [19]:
purchase_price

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [20]:
final_table = pd.read_sql_query("""select 
    pp.VendorNumber,
    pp.Brand,
    pp.Price as ActualPrice,
    pp.PurchasePrice,
    sum(s.SalesQuantity) as TotalSalesQuantity,
    sum(s.SalesDollars) as TotalSalesDollars,
    sum(s.SalesPrice) as TotalSalesPrice,
    sum(s.ExciseTax) as TotalExciseTax,
    sum(vi.Quantity) as TotalPurchaseQuantity,
    sum(vi.Dollars) as TotalPurchaseDOllars,
    sum(vi.Freight) as TotalFreightCost
from purchase_price pp 
join sales s
    on pp.VendorNumber = s.VendorNo
    and pp.Brand =  s.Brand
join vendor_invoice vi
on pp.VendorNumber = vi.VendorNumber
group by pp.VendorNumber,pp.Brand,pp.price,pp.PurchasePrice
""",conn)

In [22]:
final_table

,VendorNumber,Brand,ActualPrice,PurchasePrice,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalPurchaseQuantity,TotalPurchaseDOllars,TotalFreightCost
0,9552,1094,40.99,29.92,143880.0,6.011656e+06,4.725954e+06,113452.352333,2.823934e+09,2.249498e+10,1.142701e+08
1,8112,1133,31.99,23.01,83545.0,2.672605e+06,1.854460e+06,8566.249965,4.509718e+08,9.984537e+09,5.095801e+07
2,8352,1135,19.99,15.62,186065.0,3.835709e+06,3.130399e+06,146737.253419,7.834972e+08,5.674272e+09,2.838359e+07
3,8112,115,27.99,21.37,564025.0,1.578706e+07,7.489424e+06,592226.236913,2.081573e+09,4.608612e+10,2.352094e+08
4,8352,1174,19.99,15.87,392205.0,8.109128e+06,5.537914e+06,720899.861545,1.378060e+09,9.980236e+09,4.992268e+07
...,...,...,...,...,...,...,...,...,...,...,...
11217,9552,27171,15.99,10.88,10175.0,1.626982e+05,1.099312e+05,1125.849995,1.716051e+08,1.366977e+09,6.943977e+06
11218,3960,3014,12.99,10.15,1705.0,2.214795e+04,1.428900e+04,1342.550031,1.091958e+08,1.019196e+09,5.140641e+06
11219,7239,4785,74.99,53.95,15070.0,1.168049e+06,3.635021e+05,5920.199799,1.238558e+07,2.918814e+08,1.477144e+06
11220,9552,1164,29.99,23.80,330.0,9.896700e+03,1.649450e+03,259.599988,1.372841e+06,1.093582e+07,5.555182e+04
11221,4692,27789,79.99,51.61,110.0,8.798900e+03,4.399450e+03,12.100000,1.610020e+05,1.808146e+06,9.139380e+03

## here

In [23]:
vendor_sales_summary = pd.read_sql_query("""
WITH 
FreightSummary AS (
    SELECT 
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),
PurchaseSummary AS (
    SELECT 
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_price pp
        ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY 
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price,
        pp.Volume
),
SalesSummary AS (
    SELECT 
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)
SELECT 
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo
   AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC;
""", conn)

In [24]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080.0,3.811252e+06,142049.0,5.101920e+06,672819.341167,260999.198781,68601.680141
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038.0,3.804041e+06,160247.0,4.819073e+06,561512.375851,294438.657920,144929.240166
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407.0,3.418304e+06,187140.0,4.538121e+06,461140.145689,343854.067793,123780.220203
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682.0,3.261198e+06,200412.0,4.475973e+06,420050.005789,368242.797294,257032.069523
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109.0,3.023206e+06,135838.0,4.223108e+06,545778.283312,249587.828808,257032.069523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2.0,2.640000e+00,5.0,1.595000e+01,10.960000,0.550000,27100.410036
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6.0,2.340000e+00,134.0,6.566000e+01,1.470000,7.040000,50293.619843
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2.0,1.480000e+00,2.0,1.980000e+00,0.990000,0.100000,14069.870026
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1.0,1.470000e+00,72.0,1.432800e+02,77.610000,15.120000,257032.069523
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1.0,7.100000e-01,86.0,8.514000e+01,33.660000,4.460000,38994.780066

This query generates a vendor-wise sales and purchase summary, which is valuable for:
Performance Optimization:
â€¢The query involves heavy joins and aggregations on large datasets like sales and purchases.
â€¢ Storing the pre-aggregated results avoids repeated expensive computations.
. Helps in analyzing sales, purchases, and pricing for different vendors and brands.
â€¢Future Benefits of Storing this data for faster Dashboarding & Reporting.
â€¢ Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

In [25]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [26]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')

In [39]:
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
ActualPrice              0
Volume                   0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
TotalSalesQuantity       0
TotalSalesDollars        0
TotalSalesPrice          0
TotalExciseTax           0
FreightCost              0
GrossProfit              0
ProfitMargin             0
StockTurnOver            0
SalestoPurchaseRatio     0
dtype: int64

In [37]:
vendor_sales_summary.fillna(0, inplace=True)

In [44]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

### Gross Profit

In [45]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

### Profit Margin

In [46]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars']) * 100

### Stock Turnover

In [47]:
vendor_sales_summary['StockTurnOver'] = vendor_sales_summary['TotalSalesQuantity'] / vendor_sales_summary['TotalPurchaseQuantity']

### Sales to Purchase Ratio

In [48]:
vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollars']

In [49]:
vendor_sales_summary['SalestoPurchaseRatio']

0          1.338647
1          1.266830
2          1.327594
3          1.372493
4          1.396897
            ...
10687      6.041666
10688     28.059830
10689      1.337838
10690     97.469386
10691    119.915497
Name: SalestoPurchaseRatio, Length: 10692, dtype: float64

In [50]:
conn = mysql.connector.connect(host = 'localhost',
                            username = 'root',
                            password = 'Asdf@1234',
                            database = 'vendor')
cursor = conn.cursor()

In [79]:
cursor.execute("""CREATE TABLE vendor_sales_summary (
VendorNumber INT,
VendorName VARCHAR(100),
Brand INT,
Description VARCHAR(100),
PurchasePrice DECIMAL(10,2),
ActualPrice DECIMAL(10,2),
Volume INT,
TotalPurchaseQuantity INT,
TotalPurchaseDollars DECIMAL(15,2),
TotalSalesQuantity INT,
TotalSalesDollars DECIMAL(15,2),
TotalSalesPrice DECIMAL(15,2),
TotalExciseTax DECIMAL(15,2),
FreightCost DECIMAL(15,2),
GrossProfit DECIMAL(15,2),
ProfitMargin DECIMAL(15,2),
StockTurnover DECIMAL(15,2),
SalesToPurchaseRatio DECIMAL(15,2),
PRIMARY KEY (VendorNumber, Brand)
);
""")

In [51]:
pd.read_sql_query("Select * from vendor_sales_summary",conn)

C:\Users\ary33\AppData\Local\Temp\ipykernel_17136\3013130574.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("Select * from vendor_sales_summary",conn)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, PurchasePrice, ActualPrice, Volume, TotalPurchaseQuantity, TotalPurchaseDollars, TotalSalesQuantity, TotalSalesDollars, TotalSalesPrice, TotalExciseTax, FreightCost, GrossProfit, ProfitMargin, StockTurnOver, SalestoPurchaseRatio]
Index: []

In [55]:
vendor_sales_summary.replace([np.inf, -np.inf], np.nan, inplace=True)

In [56]:
vendor_sales_summary.to_sql('vendor_sales_summary',engine, if_exists='replace',index=False)

10692

In [54]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'FreightCost', 'GrossProfit',
       'ProfitMargin', 'StockTurnOver', 'SalestoPurchaseRatio'],
      dtype='object')

In [61]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                   float64
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
GrossProfit              float64
ProfitMargin             float64
StockTurnOver            float64
SalestoPurchaseRatio     float64
dtype: object